.contentsection{

    padding: 3em 0em;

}

.contact_heading h3{

    position: relative;

    font-size: 35px;

    text-align: center;

    padding: 0 0 2em;

    font-size: 35px;

}

.contact_heading h3:before{

    position: absolute;

    content: "";

    width: 150px;

    background-color: #010086;

    height: 3px;

    top: 41px;

}

.contact_heading h3 span{

    color: #010086;

}

.adress_heading h3{

    font-size: 35px;

    position: relative;

    text-align: center;

    padding: 0 0 2em;

    font-size: 35px;

}

.adress_heading h3 span{

    color: #010086;

}

.adress_heading h3:before{

    position: absolute;

    content: "";

    width: 150px;

    background-color: #010086;

    height: 3px;

    top: 41px;

}

.logos{

    color: #010086!important;

    font-size: 30px;

}

.company_location p{

    text-align: center;

    color: #777777;

    padding-top: 14px;

}
.btn-primary-submit{
        color: #fff;
    background-color: #010086;
    border-color: #010086;
    width: 87px;
}