
body {position: relative;overflow-x:hidden;margin: 0;padding: 0;font-family: 'Montserrat', sans-serif;-webkit-font-smoothing: antialiased;-webkit-font-smoothing: antialiased;-IE-font-smoothing: antialiased;-o-font-smoothing: antialiased;-moz-font-smoothing: antialiased;text-rendering: optimizeLegibility;-webkit-text-rendering: optimizeLegibility;-moz-text-rendering: optimizeLegibility;-IE-text-rendering: optimizeLegibility;-o-text-rendering: optimizeLegibility;}
h1,h2,h3,h4,h5,h6,pul{margin: 0;padding:0;}
a,button,img {transition: all 350ms linear 0s; -webkit-transition: all 350ms linear 0s;-moz-transition: all 350ms linear 0s;-ms-transition: all 350ms linear 0s;-o-transition: all 350ms linear 0s;}
a:hover,button:hover,img:hover {transition: all 350ms linear 0s; -webkit-transition: all 350ms linear 0s;-moz-transition: all 350ms linear 0s;-ms-transition: all 350ms linear 0s;-o-transition: all 350ms linear 0s;}
input:focus {outline: none;}
button:focus {outline: none;}
ul {padding: 0;}
ul li {list-style-type: none;}
::-moz-selection { background: yellow; }
::-o-selection { background: yellow; }
::-IE-selection { background: yellow; }
::selection { background: yellow; }

 p a {
    font-family: Arial !important;
}


/************* HEADER START *******************/
    header.header {position: static; width: 100%;top: 0px;transition: 0.6s;z-index: 111;background-color: #010086;}
    header.header .navbar {width: 100%;}
    header.header .navbar  .navbar-brand {width: 180px;height: 90px;}
    header.header .navbar  .navbar-brand img {width: 100%;height: 100%;object-fit: contain;}
    header.header .navbar .navbar-nav li a {color: #fff !important;font-weight: 500;}
    header.header.active_h {background-color: #010086;transition: 0.6s;}
    header.header.active_h  .category_nav ul li a {color: #fff;}
    header.header.active_h .navbar .navbar-nav li a {color: #fff !important;}
    header.header.active_h .navbar .navbar-nav .form-control {border-color: #fff;}
 
    header.header .navbar .navbar-nav li a img {width: 20px;}
    header.header .navbar .navbar-nav .main-menu {padding: 0 2em;padding-left: 0;}
    header.header .navbar .navbar-nav .main-menu + .main-menu {   /* border-left: 1px solid #ddd;    padding-left: 2em; */}
    header.header .navbar .social-i {margin: 0;}
    header.header .navbar .social-i li a {display: inline-block;width: 30px;}
    header.header .navbar .social-i li a img {width:100%;height: 100%;}
    header.header .category_nav ul li {margin:0 1em;position: relative;}
    header.header .category_nav ul li.active::after {    content: "";background-color: #f68e1f;position: absolute;width: 25px;height: 5px;left: 0;right: 0;margin: 0 auto;bottom: -6px;border-radius: 50pc;}
    header.header .category_nav ul li:hover::after {content: "";background-color: #f68e1f;position: absolute;width: 25px;height: 5px;left: 0;right: 0;margin: 0 auto;bottom: -6px;border-radius: 50pc;}
    header.header .category_nav ul li a {color: #fff;}
    header.header .category_nav ul li a:hover {color: #68ffa0;}
    ul#myTab {
    padding-top: 100px;
   }
/************* HEADER END *******************/
/************* HEADER2 START *******************/
    header.header1 {    position: relative;
    width: 100%;
    transition: 0.6s;
    z-index: 111;
    background-color: #010086;
    padding: 0 0 1em;}
    .footer-logo a img {
        width: 100%;
    }
    .banner-p {min-height: 367px;
        background: #f8f8f8;
        display: flex;
        align-items: center;
        justify-content: center;}

.banner-p .form-inline {justify-content: center;
    width: 65%;
    margin: 0 auto;
    max-width: 100%;}

.banner-p h3 {
    padding: 0 0 2em;
    font-size: 35px;
}

img.productimage {

    height: 150px;
   
}

.banner-p .form-inline .form-group {width: 75%;position: relative;}
.banner-p .form-inline .form-group i {
    position: absolute;
    right: 17px;
    color: #f1f1f1;
    bottom: 17px;
    font-size: 18px;}
.banner-p .form-inline .form-group input[type="text"] {    width: 100%;
    border-radius: 50pc;
    border: 5px solid #010086;
    height: 50px;}
    .banner-p .form-inline button {    width: 20%;
    margin: 20px 0px 0;
    background-color: #010086;
    border: none;
    border-radius: 50pc;
    height: 48px;
    font-weight: 700;}
    
.banner-p .form-inline button:hover {background-color: #68ffa0;color: #010086;}


    header.header1 .navbar {width: 100%;}
    header.header1 .navbar  .navbar-brand {width: 180px;height: 90px;}
    header.header1 .navbar  .navbar-brand img {width: 100%;height: 100%;object-fit: contain;}
    header.header1 .navbar .navbar-nav li a {color: #fff !important;font-weight: 500;}
    header.header1.active_h {background-color: #010086;transition: 0.6s;}
    header.header1.active_h  .category_nav ul li a {color: #fff;}
    header.header1.active_h .navbar .navbar-nav li a {color: #fff !important;}
    header.header1.active_h .navbar .navbar-nav .form-control {border-color: #fff;}
    
    header.header1 .navbar .navbar-nav .form-control::placeholder {color: #fff;}
    header.header1 .navbar .navbar-nav li a img {width: 20px;}
    header.header1 .navbar .navbar-nav .main-menu {padding: 0 2em;padding-left: 0;}
    header.header1 .navbar .navbar-nav .main-menu + .main-menu {    border-left: 1px solid #ddd;    padding-left: 2em;}
    header.header1 .navbar .social-i {margin: 0;}
    header.header1 .navbar .social-i li a {display: inline-block;width: 30px;}
    header.header1 .navbar .social-i li a img {width:100%;height: 100%;}
    header.header1 .category_nav ul li {margin:0 1em;position: relative;}
    header.header1 .category_nav ul li.active::after {    content: "";background-color: #f68e1f;position: absolute;width: 25px;height: 5px;left: 0;right: 0;margin: 0 auto;bottom: -6px;border-radius: 50pc;}
    header.header1 .category_nav ul li:hover::after {content: "";background-color: #f68e1f;position: absolute;width: 25px;height: 5px;left: 0;right: 0;margin: 0 auto;bottom: -6px;border-radius: 50pc;}
    header.header1 .category_nav ul li a {color: #fff;}
    header.header1 .category_nav ul li a:hover {color: #68ffa0;}
/************* HEADER2 END *******************/

.rate ul {}
.rate ul li {}
.rate ul li {margin-right: 0 !important;}
.rate ul li a {}



/************* BANNER START *******************/
.banner {    /*background: url(../img/banner.png);*/
   /* height: 76vh;*/
    /*background-size: cover;*/
    /*display: flex;*/
    align-items: center;
    justify-content: center;}

.banner .carousel {margin: 5em 0 0;}
  .carousel-inner {
    position: relative;
    width: 94%;
    overflow: hidden;
    text-align: center;
    align-items: center;
    padding: 2px 35px !important;
    margin: 0px 40px !important;
}    
.product_lists .product-info .price {
    font-weight: 600;
    font-size: 12px;
    color: #d62c2c;
    padding-right: 10px;
}
.product_list .product-info .price {
    font-weight: 600;
    font-size: 12px;
    color: #d62c2c;
    padding-right: 10px;
}
.silder-title {
    padding-top: 135px !important;
}  
.justify-content-center {
    -ms-flex-pack: left!important;
    justify-content: left !important;
}
.product_details .whatsapp img {
   
    width: auto !important;
}
.precentegp {
    position: absolute;
    background: #c73636;
    top: 37px;
    left: 5px;
    height: 24px;
    border-radius: 47px;
    padding: 3px;
    font-size: 12px;
    color: #fff;
    z-index: 99;
}
.banner .carousel-indicators {
    position: absolute;
    right: auto !important;
    bottom: 11em;
    left: -3em !important;
    z-index: 15;
    top: 30px;
    display: block;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 0 !important;
    margin-left: 0 !important;
    list-style: none;
}
.banner .carousel .carousel-indicators li {width: 20px !important;height: 20px !important;}

.d-left-right {left: 0 !important;right: auto !important;text-align: left;padding: 5em 0 0;     bottom: 0;}

.d-left-right h4 {color: #1fd1f7;
    font-size: 29px;
    font-weight: 600; }

.d-left-right .btn {
    width: 150px;
    border-radius: 50pc;
}

.d-left-right .carousel-item {padding-bottom: 2em;}
.d-left-right p {font-size: 21px;}


.nav_active  {margin: 2em 0;position: relative;}

.view_all {position: absolute;
    right: 0;
    top: 12px;
    font-size: 14px;
        font-weight: 700;
}
.view_all_a {color: #010086;
    border: 1px solid #010086;
    padding: 4px 8px;
    border-radius: 50pc;
    text-decoration: none;
        display: none;
}

.nav_active .nav-item + .nav-item  {margin-left: 1em;} 
.nav_active .nav-item .nav-link{
    background-color: transparent;
    color: #aeaeae;
    font-weight: 600;
    padding:0.6em 2.5em;
    border-radius: 50pc;    
    font-size: 15px;
    border:1px solid #aeaeae; 
} 

.nav_active .nav-item .nav-link.active {
    background-color: #68ffa0;
    color: #010086;
    font-weight: 600;
    border-radius: 50pc;
    font-size: 15px;
        border:1px solid transparent; 
}
.price-cut {
    color: #000 !important;
    font-size: 15px;
    font-weight: 600;
    text-decoration: line-through;
    padding-right: 10px;
    padding-left: 10px;
}
.product_details {
    background-color: #fff;
    background-color: #fff;
    box-shadow: 0px 0px 0px 0px;
    margin: 0;
    padding: 0;
    border-radius: 0px;
    overflow: hidden;
    height: 260px;
    border: 1px solid #dee2e6;
}
.product_details .products-imgs {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 29px 0px;
    position: relative;
}
.price-get-details .btn {
    font-size: 14px;
    font-weight: 600;
    padding: 6px 36%;
    border-radius: 50pc;
    width: 278px !important;
}
.adress_heading {
    /* top: 20px; */
    padding-top: 100px;
}
.text-center {
    text-align: center !important;
    margin-top: -30px  !important;;
}

.whatsapp img{
        margin-right: 0px;
    /* float: left; */
    position: absolute;
    margin-left: 9px;
    margin-top: -103px;
    width: 100%;

}

.owl-prev {
    left: 0em;
    right: auto;
    position: absolute;
    top: 37%;
    font-size: 44px !important;
    /* width: 30px; */
    /* height: 30px; */
    display: flex !important;
    align-items: center;
    justify-content: center;
}
.silder-title {display: block;
    padding: 1em 0;
    position: relative;}

.silder-title h4 {
    font-weight: 700;
    color: #010086;}
    .silder-title h4 .view_all {    top: 4em;}
.owl-prev:hover {background-color: transparent !Important;}
.owl-next:hover {background-color: transparent !Important;}
.owl-next {
    right: 0em;
    left: auto;
    position: absolute;
    top: 37%;
    font-size: 44px !important;
    /* width: 30px; */
    /* height: 30px; */
    display: flex !important;
    align-items: center;
    justify-content: center;
}
.precenteg {
    position: absolute;
    background: #c73636;
    top: 10px;
    left: 5px;
    height: 24px;
    border-radius: 47px;
    padding: 3px;
    font-size: 12px;
    color: #fff;
    z-index: 99;
}.precentegs {
    position: absolute;
    background: #c73636;
    top: 20px;
    left: 40px;
    height: 24px;
    border-radius: 47px;
    padding: 3px;
    font-size: 12px;
    color: #fff;
}
.load_m {background-color: #e4e4e4;
    color: #151472;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0.8em 2em;
     margin: 3em 0;;}
.product_list {
    background-color: #fff;
    background-color: #fff;
    box-shadow: 0px 0px 0px 0px;
    margin: 0;
    padding: 0;
    border-radius: 0px;
    overflow: hidden;
    height: 315px;
    border: 1px solid #dee2e6;
}
.product_lists {
	background-color: #fff;
    background-color: #fff;
    box-shadow: 0px 0px 0px 0px;
    margin: 0;
    padding: 0;
    border-radius: 0px;
    overflow: hidden;
    height: 315px;
    border: 1px solid #dee2e6;
}
.owl-carousel .owl-item img {
    display: block;
}
.col-3 {
	padding: 0px !important;
}
.product_list .product-img {    
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0px 42px;
    position: relative;
}.product_lists .product-imgs {    
	width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0px 42px;
    position: relative;
}
.sub_myproductadd {
    float: none;
    margin: 0 auto;
    width: 100px;
    height: 45px;
    font-size: 20px;
    text-transform: uppercase;
    background-color: #1e1d7a !important;
    border-color: #1e1d7a;
}
.sub_myproductadd:hover {
    background-color: #68ffa0 !important;
    border-color: #68ffa0;
    color: #1e1d7a;
}
.product_list .product-img .app-t {
	position: absolute;
    padding-top: 20px;
    right: 5px;
    width: 30px;
    height: 30px;}
.product_lists .product-imgs .app-t {    
position: absolute;
right: 24px;
width: 30px;
height: 30px;
padding-top: 20px;}
ul#myTabproducts {
    padding-top: 0px;
}
h3.text-center {
   padding-top: 80px;
    padding-bottom: 20px;
}

.product_list .product-info p {    font-size: 13px;
    text-align: center;
    margin: 0 0 6px;}
   

.product_lists .product-info p {    font-size: 13px;
    text-align: center;
    margin: 0 0 6px;}

.price-box {
    display: flex;
    justify-content: space-between;
}
.Discussion-upvote span .counter {
    color: green;
}
.Discussion-downvote span .counter {
    color: red;
}
i.icon.fa.fa-thumbs-up.Button-icon {
    color: green;
}
i.icon.fa.fa-thumbs-down.Button-icon {
    color: red;
}
.carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 34px !important;
    color: #fff;
    text-align: center;
    opacity: .5;
    transition: opacity .15s ease;
}

.price-get .btn {
    font-size: 14px;
    font-weight: 600;
    padding: 4px 15px;
    border-radius: 50pc;
}
section.banner {
    margin-top: -50px;
}
.price-cut .btn {font-size: 12px;
    font-weight: 600;
    padding: 2px 14px;
    border-radius: 50pc;
     z-index: 9;
    position: absolute;}
.product_list .product-info {    padding: 0 0 5px;}
.product_list .product-info .price {font-weight: 600;font-size: 14px;    padding-right: 10px;}
.product_list .product-info .price-cut {
color: #000 !important;
    font-size: 15px;
    font-weight: 600;
    text-decoration: line-through;}

    .ph_relative {position: relative;}
    .ph_relative i {    position: absolute;
    right: 24px;
    color: #fff;}


.f_price {color: #1e1d7a;
    text-transform: uppercase;
    font-size: 18px;
    margin: 0 0 1em;}
.text_s {padding: 0 3em 10px;}
.text_s label {    font-weight: 600;
    font-size: 19px;}

.modal_ss {
    padding: 0 2em;
}
.modal_ss .sub_t {
    margin: 0 auto;
    display: block;
}
.modal_ss label {
    font-weight: 700;
}
.modal_ss input {
    background-color: #d8d8d8;
    height: 60px;
}



.sub_t {
float: none;
    margin: 0 auto;
    width: 250px;
    height: 50px;
    font-size: 20px;
    text-transform: uppercase;
    background-color: #1e1d7a !important;
    border-color: #1e1d7a;
}
.sub_t:hover {background-color: #68ffa0 !important;border-color: #68ffa0;color: #1e1d7a;}

.text_s label.custom-control-label::before {    width: 1.5rem;height: 1.5rem;left: -43px;top: 2px;}
.text_s label.custom-control-label::after {    width: 1.5rem;    height: 1.5rem;left: -43px;top: 2px;}
.custom-control-input:checked~.custom-control-label::before {border-color: #302f81;background-color: #302f81;}
.filter_head {
    font-weight: 700;
}

    #filter, #login, #producta {background-color: rgba(104, 255, 160, 0.69);}



    .single-product .product-info-block .name {
    margin-top: 0px;
    font-weight: bold;}
.single-product .product-info .stock-container .stock-box .label {
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    line-height: 18px;
    color: #666666;
    padding: 0px;
}
.single-product .product-info .stock-container .stock-box .value {
    font-size: 13px;
    color: #ff7878;
}.single-product .product-info .description-container {
    line-height: 20px;
    color: #666666;
}
.single-product .product-info .price-container {
    border-bottom: 1px solid #F2F2F2;
    border-top: 1px solid #F2F2F2;
    margin-bottom: 0;
    padding: 20px 0;
}
.single-product .product-info .price-container .price-box .price {
    color: #ff7878;
}
.single-product .product-info .price-container .price-box .price {
    font-size: 30px;
    font-weight: 700;
    line-height: 50px;
}
.single-product .product-info .price-container .price-box .price-strike {
    color: #aaa;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    text-decoration: line-through;
}.single-product .product-info .price-container .price-box .price-strike {
    color: #aaa;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    text-decoration: line-through;
}
.single-product .favorite-button .btn-primary {
    background: #ddd;
}
.single-product .product-info .rating-reviews .reviews .lnk {
    color: #aaaaaa;
}
.single-product .product-info .quantity-container {
    margin-bottom: 0;
    padding: 20px 0;
}
.single-product .product-info .quantity-container .label {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    line-height: 35px;
    text-transform: uppercase;
    color: #666666;
    padding: 0px;
    font-weight: normal;
}
.single-product .product-info .quantity-container .cart-quantity .quant-input {
    display: inline-block;
    height: 35px;
    position: relative;
    width: 70px;
}
.single-product .product-info .quantity-container .cart-quantity .quant-input .arrows {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    height: 100%;
}
.single-product .product-info .quantity-container .cart-quantity .quant-input .arrows .arrow {
    box-sizing: border-box;
    display: block;
    text-align: center;
    width: 40px;
    cursor: pointer;
}
.single-product .product-info .quantity-container .cart-quantity .quant-input .arrows .arrow .ir .icon.fa-sort-asc {
    top: 5px;
}
.single-product .product-info .quantity-container .cart-quantity .quant-input .arrows .arrow .ir .icon {
    position: relative;
}
.single-product .product-info .quantity-container .cart-quantity .quant-input .arrows .arrow {
    box-sizing: border-box;
    display: block;
    text-align: center;
    width: 40px;
    cursor: pointer;
}
.single-product .product-info .quantity-container .cart-quantity .quant-input .arrows .arrow .ir .icon.fa-sort-desc {
    top: -7px;
}
.single-product .product-info .quantity-container .cart-quantity .quant-input input {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #f2f2f2;
    box-sizing: border-box;
    font-size: 15px;
    height: 35px;
    left: 0;
    padding: 0 20px 0 18px;
    position: absolute;
    top: 0;
    width: 70px;
    z-index: 1;
}

.insert_p {
    font-size: 14px;
    line-height: 2.5;
}

.gallr_img {    background-color: #48b083;
    padding: 4px;
    border-radius: 5px;}
.gallr_img img {width: 100%;}
.favorite-button .btn {color: #010086;border:none;}
/************* BANNER END *******************/
.footer {background-color: #010086;
    color: #fff;
    padding: 2em;}
    .footer h4 {    text-transform: uppercase;
    font-size: 20px;
    margin: 0 0 15px;}

.follow-left ul li a {    
color: #000;
    font-size: 24px;}



 .price-range-holder {
  padding: 0 0 20px;
  position: relative;
}
 .price-range-holder .slider {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  margin-top:0px;
}
 .price-range-holder .slider.slider-horizontal {
  height: 20px;
  width: 100% !important;
}
 .price-range-holder .slider .slider-track {
  background-color: #f1f1f1;
  background-repeat: repeat-x;
  cursor: pointer;
  position: absolute;
  width: 94% !important;
  height: 2px;
  left: 0;
  margin-top: -5px;
  top: 50%;
  width: 100%;
}
 .price-range-holder .slider .slider-track .slider-selection {
  bottom: 0;
  height: 100%;
  top: 0;
  background-repeat: repeat-x;
  box-sizing: border-box;
  position: absolute;
  background: #1e1d7a;
}
 .price-range-holder .slider .slider-track .slider-handle {
    background-color: #1e1d7a;
    background-repeat: repeat-x;
    -webkit-border-radius: 400px;
    -moz-border-radius: 400px;
    border-radius: 400px;
    height: 30px;
    margin-left: -3px !important;
    opacity: 1;
    position: absolute;
    top: -3px;
    width: 30px;
    margin-top: -11px;
}
 .price-range-holder .slider .tooltip {
  margin-top: -36px;
}
 .price-range-holder .min-max {
  font-size: 15px;
  font-weight: 700;
  color: #fe5252;
  margin-top: 15px;
}
 .price-range-holder .slider .slider-track .slider-handle {
  border: 5px solid #b6b6b6;
}

.price-range-holder .slider .tooltip {
    margin-top: -36px;
}

.tooltip {
    position: absolute;
    z-index: 1070;
    display: block;
    font-size: 12px;
    line-height: 1.4;
    visibility: visible;
    filter: alpha(opacity=0);
    opacity: 0;
}
.tooltip.top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 5px 5px 0;
    border-top-color: #000;
}
ul#myTabs {
    padding-top: 0px;
}
.tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}
.tooltip-inner {
    font-family: 'Open Sans', sans-serif;
    border-radius: 2px;
    min-width: 70px;
    z-index: 10000;
}
.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background-color: #000;
    border-radius: 4px;
}
.tooltip.top {
    padding: 5px 0;
    margin-top: -5px;

}
.tooltip.tooltip-main.top.in {opacity: 1;}




.detail-block {
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.08);
    padding: 20px;
    overflow: hidden;
}
.single-product .single-product-gallery {
    padding-bottom: 30px;
}
.single-product .gallery-holder .gallery-thumbs {
    margin: 15px 0 0;
    position: relative;
    text-align: left;
}
.single-product .product-info-block .name {
    margin-top: 0px;
    font-weight: bold;}

/*  Rating CSS
/*===================================================================================*/

.rateit {
    display: -moz-inline-box;
    display: inline-block;
    position: relative;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
}

.rateit .rateit-range
{
    position: relative;
    display: -moz-inline-box;
    display: inline-block;
    background: url(images/star.html);
    height: 14px;
    outline: none;
}

.rateit-small .rateit-range
{
    position: relative;
    display: -moz-inline-box;
    display: inline-block;
    background: url(images/star-small.png);
    height: 14px;
    outline: none;
}





.rateit .rateit-range * {
    display:block;
}

/* for IE 6 */
* html .rateit, * html .rateit .rateit-range
{
    display: inline;
}

/* for IE 7 */
* + html .rateit, * + html .rateit .rateit-range
{
    display: inline;
}

.rateit .rateit-hover, .rateit .rateit-selected
{
    position: absolute;
    left: 0px;
}

.rateit .rateit-hover-rtl, .rateit .rateit-selected-rtl
{
    left: auto;
    right: 0px;
}

.rateit .rateit-hover
{
    background: url(images/star.html) left -28px;
}

.rateit-small .rateit-hover
{
    background: url(images/star-small.png) left -328px;
}

.rateit .rateit-hover-rtl
{
    background-position: right -28px;
}

.rateit .rateit-selected
{
    background: url(images/star.html) left -14px;
}

.rateit-small .rateit-selected
{
    background: url(images/star-small.png) left -14px;
}

.rateit .rateit-selected-rtl
{
    background-position: right -14px;
}

.rateit .rateit-preset
{
    background: url(images/star.html) left -48px;
}

.rateit .rateit-preset-rtl
{
    background: url(images/star.html) left -48px;
}

.rateit-small .rateit-preset
{
    background: url(images/star-small.png) left -48px;
}

.rateit-small .rateit-preset-rtl
{
    background: url(images/star-small.png) left -48px;
}

.rateit button.rateit-reset
{
    background: url(images/delete.gif) 0 0;
    width: 14px;
    height: 14px;
    display: -moz-inline-box;
    display: inline-block;
 
    outline: none;
    border:none;
    padding: 0;
}

.rateit button.rateit-reset:hover, .rateit button.rateit-reset:focus
{
    background-position: 0 -14px;
}
.single-product .product-info .rating-reviews .reviews .lnk {
    color: #aaaaaa;
}
.w-100 {
    width: 99%!important;
    height: 285px;
}
.Discussion-upvote {
    background-color: #fff;
    margin-right: 2px;
    color: green;
}
.Discussion-downvote {
    background-color: #fff;
    color: red;
}
.Discussion-downvote, .Discussion-upvote {
  
    box-shadow: none;
    border: 0px solid #ccc;
    padding: 5px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer !important;
}

@media screen and (max-width:992px) {
    .container {max-width: 100%;}
    #myTabContent .row .col {    max-width: 48%;
    flex: auto;}
}


@media screen and (max-width:767px) {
.ph_relative {
    position: relative;
    text-align: center;
    margin: 0 auto;
}
.banner .carousel {
    margin: 0em 0 0;
}
.banner .carousel-indicators {    bottom: 0px;
    left: -25px !important;}
    .banner {    height: 142px;}
    .follow-right .footer-logo a img {width: 100%;}
.header  {   /* position: relative !important;*/
    background: #201f72;}
header.header .navbar {
    width: 100%;
    padding: 0px 10px;
}
header.header .navbar .navbar-brand {
    width: 100px;
    height: 50px;
}
header.header .category_nav ul li {
    margin: 0 10px;
    position: relative;}
    .category_nav ul {margin: 0;}    
header.header .category_nav ul li a{font-size: 12px;}
header.header .category_nav ul li.active::after {width: 19px}
header.header .navbar .social-i {text-align: center;}
header.header .navbar .navbar-nav .main-menu + .main-menu {    border-left: none;
    padding-left: 0em;}
    header.header .navbar .navbar-nav li a {text-align: center;}
    header.header .navbar .navbar-nav .main-menu {padding: 0;}
.navbar-light .navbar-toggler {    background: linear-gradient(#fff, #68ffa0);
    padding: 1px 4px;}
.banner .carousel .carousel-indicators li {width: 10px;height: 10px;}

/*.owl-nav button {display: none !important;}*/

.silder-title {    padding: 2em 0;
}
.silder-title h4 {font-size: 17px;}
.silder-title h4 .view_all {
    top: 34px;
}

.footer-content .d-flex {    
	display: block !important;
    text-align: center;
}
.nav_active .nav-item .nav-link.active,
 .nav_active .nav-item .nav-link {
	font-size: 12px;
}
.nav_active .nav-item .nav-link {padding: 0.6em 1em;}

    .footer {padding: 1em;    margin-top: 50px;}

 [class*="col-3"] {
    max-width: 50% !important;
     padding: 0px !important;
     flex: 0 0 100% !important;
  }
.product_list {
    background-color: #fff;
    padding: 0;
    border-radius: 0px;
    overflow: scroll;
    height: 225px;
    border: 1px solid #dee2e6;
    box-shadow: 0 0 0 0px !important;
    margin: 0;
}
.product_lists {
    background-color: #fff;
    padding: 0;
    border-radius: 0px;
    overflow: scroll;
    height: 230px;
    border: 1px solid #dee2e6;
    box-shadow: 0 0 0 0px !important;
    margin: 0;
}
.view_all {
    position: absolute;
    right: 0;
    top: 12px;
    font-size: 14px;
    font-weight: 700;
    display: none;
}
.owl-item .product-img img {
    width: auto !important;
}
.product_list .product-img {
    width: 100%;
    height: 105px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3.5em;
    position: relative;
        margin: 0px;
}
.product_lists .product-imgs {
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
    position: relative;
    margin: 0px;
}

.product_list .product-info {
    padding: 0 0 5px;
        position: absolute;
    width: 99%;
    background: #fff;
}
.gmap_canvas {
    overflow: hidden;
    background: none!important;
    height: 500px;
  width: 295px !important;
}
.sub_t {
    float: none;
    margin: 0 auto;
    width: 100px;
    height: 35px;
    font-size: 14px;
    text-transform: uppercase;
    background-color: #1e1d7a !important;
    border-color: #1e1d7a;
}
.modal_ss {
    padding: 0 0em;
}
header.header1 .category_nav ul li a {
    color: #fff;
    font-size: 12px;
}
.banner-p .form-inline {
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    max-width: 100%;
}
.btn-primary {
    color: #fff;
    border-radius: 23px;
    float: none;
    margin: 0 auto;
    width: 100px;
    height: 35px;
    font-size: 14px;
    text-transform: uppercase;
    background-color: #1e1d7a !important;
    border-color: #1e1d7a;
}
.banner-p .form-inline .form-group {
    width: 100%;
    position: relative;
}
header.header1 .navbar .navbar-nav .main-menu + .main-menu {
   border-left: 0px; 
    padding-left: 0em; 
}
div#navbarSupportedContent {
    text-align: center;
}
.w-100 {
    width: 100%!important;
    height: 115px;
}
.banner .carousel .carousel-indicators li {
    width: 5px !important;
    height: 5px !important;
}
.banner .carousel .carousel-indicators li {
    width: 5px !important;
    height: 5px !important;
}
.owl-item.active {
    width: 250px !important;
}

.carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 63px;
    bottom: 0;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 34px !important;
    color: #fff;
    text-align: center;
    opacity: .5;
    transition: opacity .15s ease;
}
.carousel-inner {
    position: relative;
    overflow: hidden;
    top: 10px;
    width: 100%;
    text-align: center;
    align-items: center;
    padding: 0px !important;
    margin: 0px!important;
} 
.owl-prev{
    display: none !important;
}
.owl-next{
    display: none !important;
}
.Discussion-downvote, .Discussion-upvote {
   
    box-shadow: none;
    border: 0px solid #ccc;
    padding: 5px;
    border-radius: 4px;
    font-size: 10px;
    cursor: pointer !important;
}
.price-get .btn {
    font-size: 12px;
    font-weight: 600;
    padding: 4px 15px;
    border-radius: 50pc;
}
.product_list .product-info .price {
    font-weight: 600;
    font-size: 12px;
    color: #d62c2c;
}
.product_list .product-info .price-cut {
    color: #c1c1c1 !important;
    font-size: 12px;
    font-weight: 600;
    text-decoration: line-through;
}
.product_lists .product-info .price {
    font-weight: 600;
    font-size: 12px;
    color: #d62c2c;
}
.product_lists .product-info .price-cut {
    color: #c1c1c1 !important;
    font-size: 12px;
    font-weight: 600;
    text-decoration: line-through;
}
.silder-title {
    padding-top: 123px !important;
}
.pl-3, .px-3 {
    padding-left: 5px !important;
}

.pr-3, .px-3 {
    padding-right: 5px !important;
}
.nav_active  {margin: 1em 0;position: relative;}

   .text-center {
    text-align: center !important;
    margin-top: 0px  !important;;
}

.whatsapp img{
        margin-right: 0px;
    /* float: left; */
    position: absolute;
    margin-left: 0px;
    margin-top: 0px;
       width: 100%;

}
.product_list .product-img .app-t {
    position: absolute;
    top: 7px;
    right: 30px;
    width: 30px;
    height: 30px;
    padding-top: 0px;
}

section.banner {
    margin-top: 0px;
}
.product_lists .product-imgs .app-t {
    position: absolute;
    right: 24px;
    width: 30px;
    height: 30px;
    padding-top: 0px;
    top: 6px;
}

a.app-t.whatsapp {
    top: 0px;
    padding-top: -7px;
    /* margin-top: -85px; */
    position: absolute;
    /* left: 39px; */
    right: 83px;
}
img.productimage {
    height: 80px;
    width: auto !important;
}
.precenteg {
    position: absolute;
    background: #c73636;
    top: 10px;
    left: 5px;
    height: 20px;
    border-radius: 47px;
    padding: 3px;
    font-size: 9px;
    color: #fff;
        z-index: 1;
}



}

.Badge {
    width: 22px;
    height: 22px;
    border-radius: 11px;
    line-height: 21px;
    background: #808080;
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.35);
    box-shadow: 0 2px 4px rgba(0,0,0,0.35);
}
.Badge, .Badge .Badge-icon {
    font-size: 12.32px;
}



/*************************     Inline css   **************************/













 .icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 15;
      right: 0px;
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 9px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
  background-color: #e9ecef;
}

.facebook {
  background: #e9ecef;
  color: white;
}

.twitter {
  background: #e9ecef;
  color: white;
}

.google {
  background: #e9ecef;
  color: white;
}.whatsappimg {
  background: #e9ecef;
  color: white;
}.androidimg {
  background: #e9ecef;
  color: white;
}.feedimg {
  background: #e9ecef;
  color: white;
}.sendimg {
  background: #e9ecef;
  color: white;
}


.linkedin {
  background: #007bb5;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}

.content {
  margin-left: 75px;
  font-size: 30px;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}
#rocketmeluncur {
    position: fixed;
    bottom: 50px;
    z-index: 7;
    display: none;
    visibility: hidden;
    width: 26px;
    height: 48px;
    right: 25px;
    background: url(assets/img/rocket.png) 50% 0 no-repeat;
    opacity: 0;
    -webkit-transition: visibility .6s cubic-bezier(.6,.04,.98,.335),opacity .6s cubic-bezier(.6,.04,.98,.335),-webkit-transform .6s cubic-bezier(.6,.04,.98,.335);
    -moz-transition: visibility .6s cubic-bezier(.6,.04,.98,.335),opacity .6s cubic-bezier(.6,.04,.98,.335),-moz-transform .6s cubic-bezier(.6,.04,.98,.335);
    transition: visibility .6s cubic-bezier(.6,.04,.98,.335),opacity .6s cubic-bezier(.6,.04,.98,.335),transform .6s cubic-bezier(.6,.04,.98,.335);
}
#rocketmeluncur i {
    display: block;
    margin-top: 48px;
    height: 14px;
    background: url(assets/img/rocket.png) 50% -48px no-repeat;
    opacity: .5;
    -webkit-transition: -webkit-transform .2s;
    -moz-transition: -moz-transform .2s;
    transition: transform .2s;
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    transform-origin: 50% 0;
}
#rocketmeluncur.showrocket {
    visibility: visible;
    opacity: 1;
}
#rocketmeluncur:hover {
    background-position: 50% -62px;
}
#rocketmeluncur:hover i {
    background-position: 50% 100%;
    -webkit-animation: flaming .7s infinite;
    -moz-animation: flaming .7s infinite;
    animation: flaming .7s infinite;
}





@media screen and (max-width: 767px)
	.navbar-brand{
		font-size: 32px;
	}
}
